/** Fonts **/
$text-font-family : 'Poynter', Georgia, Serif;
$data-font-family :  Arial, sans-serif;
$text-font-size:14px;

/** Colors **/
$text-font-color : #3C3C3C;
$input-font-color: rgb(85, 85, 85);

$error-font-color : #bd0000;
$error-border-color : #bd0000;
$error-background-color : #ffeaec;

$success-font-color : #228855;
$success-border-color : #228855;
$success-background-color : #eefdeb;

$warning-font-color : #c1a409;
$warning-border-color : #daa32d;
$warning-background-color : #fff6ce;

/** borders **/
$input-border : 1px rgb(182, 191, 208) solid;
$input-border-focus : 1px rgb(88, 97, 118) solid;

/** frame size **/
$overview-frame-width : 800px;

/** form size **/
$form-group-separation:8px;

$label-width:25%; //#1
$label-padding-vertical:7px;
$label-padding-horizontal:15px;
$label-margin:1px 0 0 0;

$input-container-width:75%; //#1
$input-container-padding:0 15px;
$input-container-margin:0;

$input-margin:0;
$input-height:20px;
$input-padding:3px 8px;
$input-width:100%;

$input-message-font-size:11px;
$input-message-right-width:150px;
$input-message-radius:2px;
$input-message-padding:8px;
$input-message-right-margin:15px;
$input-message-height:11px;
$input-message-y-position:22px;
