@font-face {
  font-family: 'Trade Gothic';
  src: url('../fonts/tradeGothic/413d9688-00d4-47c4-bb55-656a0cd396e9.eot');
  src: url('../fonts/tradeGothic/413d9688-00d4-47c4-bb55-656a0cd396e9ie.eot?iefix') format('embedded-opentype'),
  url('../fonts/tradeGothic/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff') format('woff'),
  url('../fonts/tradeGothic/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf') format('truetype'),
  url('../fonts/tradeGothic/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Gothic Bold';
  src: url('../fonts/tradeGothic/65196ee3-28dd-4eca-b4a6-4e2d22efc769.eot');
  src: url('../fonts/tradeGothic/65196ee3-28dd-4eca-b4a6-4e2d22efc769ie.eot?iefix') format('embedded-opentype'),
  url('../fonts/tradeGothic/0909f879-d4b6-4d64-8bfd-b9990c7bd2ff.woff') format('woff'),
  url('../fonts/tradeGothic/974cb5f7-6d77-4490-bdb9-7615021b81f6.ttf') format('truetype'),
  url('../fonts/tradeGothic/5263ddfe-a3e4-4276-b299-753b86ed8c3e.svg#5263ddfe-a3e4-4276-b299-753b86ed8c3e') format('svg');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poynter';
  src: url('../fonts/poynter/3fadc141-ee94-4243-a177-c96469a57aa1-2.eot');
  src: url('../fonts/poynter/3fadc141-ee94-4243-a177-c96469a57aa1-2ie.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poynter/3fadc141-ee94-4243-a177-c96469a57aa1-3.woff') format('woff'),
  url('../fonts/poynter/3fadc141-ee94-4243-a177-c96469a57aa1-1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poynter Bold';
  src: url('../fonts/poynter/a1f961cb-17a9-46cb-80b8-5f0718f57994-2.eot');
  src: url('../fonts/poynter/a1f961cb-17a9-46cb-80b8-5f0718f57994-2ie.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poynter/a1f961cb-17a9-46cb-80b8-5f0718f57994-3.woff') format('woff'),
  url('../fonts/poynter/a1f961cb-17a9-46cb-80b8-5f0718f57994-1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poynter Bold Italic';
  src: url('../fonts/poynter/2b2ccb05-0ee5-472e-9730-1471d2f37367-2.eot');
  src: url('../fonts/poynter/2b2ccb05-0ee5-472e-9730-1471d2f37367-2ie.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poynter/2b2ccb05-0ee5-472e-9730-1471d2f37367-3.woff') format('woff'),
  url('../fonts/poynter/2b2ccb05-0ee5-472e-9730-1471d2f37367-1.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poynter Italic';
  src: url('../fonts/poynter/1a46e8d0-ec73-4acc-9eac-70a8a571462a-2.eot');
  src: url('../fonts/poynter/1a46e8d0-ec73-4acc-9eac-70a8a571462a-2ie.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poynter/1a46e8d0-ec73-4acc-9eac-70a8a571462a-3.woff') format('woff'),
  url('../fonts/poynter/1a46e8d0-ec73-4acc-9eac-70a8a571462a-1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}